body{
    margin: 0;
    padding: 50px 166px;
    background-color: #F2F2F2;
    font-family: 'Epilogue', sans-serif;
    position: relative;
}

.header {
    height: 56px;
    width: 1108.85px;
    margin: auto;
    position: relative;
}

.logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.top-most-button{
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); 
    height: 56px;
    width: 219px;
    font-family: Epilogue;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.1599999964237213px;
    border-radius: 7px;
    color: #172339;
}

.top-most-button:hover{
    background-color: #172339;
    color: #FAF8F6;
}

.first-section{
    margin: 79px auto 142.44px auto;
    position: relative;
    width: 64rem;
    height: 600px;
}

.description{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 405px;
    width: 635px;
;

}

.metrics{
    position:absolute;
    height: 375px;
    width: 190px;
    right: 0;
    top: 50%;
    transform: translateY(-60%);
    text-align: center;
   
   
}

.phone{
    position: absolute;
    left: 474px;
    width: 350px;
    height: 600px;
    z-index: -1;
    margin-right: 96px;
}

.tablet-phone{
    display: none;
}

.mobile-phone{
    display: none;
}

.arch{
    position: absolute;
    top: 34px;
    left: 290px;
    height: 36px;
    width: 287px;
}

h1 {
    font-weight: lighter;
}

.main-description{
    margin: 0 0 40px 0;
    height: 158px;
    width: 635px;
    font-weight: 400;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;

}

.second-description{
    width: 350px;
    height: 96px;
    color: #49566D;
    font-family: Epilogue;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

.second-button{
    height: 61px;
    width: 256px;
    margin-top: 52px;
    border-radius: 7px;
    background-color: #172339;
    font-family: Epilogue;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18000000715255737px;
   color: #FAF8F6;
   border-width: 0;
}
.second-button:hover{
    background-image: linear-gradient(to bottom right, #A060FF, #CB30E3, #FFA84E);
}

h2{
    height: 56px;
    width: 344px;
    font-family: Epilogue;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 1px;
    color: #172339;



}

h5{
    margin: 0;
    height: 26px;
    width: 344px;
    font-family: Epilogue;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
}

.second-section{
    position: relative;
    height: 589.5569458007812px;
    width: 1109px;
    

}

.jeremy {
    position: absolute;
   left: 121.49px;
   z-index: 1;
   
}

.tablet-jeremy{
    display: none;
}

.phone-jeremy{
    display: none;
}

.blur{
    position: absolute;
    left: 43.49000000000001px;
    bottom: -122px;
    z-index: 0;

}

.testimony {
    position: absolute;
    height: 545px;
    width: 1109px;
    background: #172339;
    bottom: 0;
    border-radius: 15px;
    z-index: -1;
    

}

.text-placement {
    position: absolute;
    right: 125px;
    top : 50%;
    transform: translateY(-50%); 
    height: 369px;
    width: 350px;


}

h3{
    height: 56px;
    width: 308px;
    font-family: Epilogue;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #FAF8F6;
    height: 56px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    margin: 0 0 40px 0;


}

h4 {
    height: 175px;
    width: 350px;
    font-family: Epilogue;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #F3EDE7;
    margin: 0;

    

}

.second-curve {
    position: absolute;
    top: 196.15px;
    right: 527.75px;
    width: 64.05px;
    height: 52px;
}

footer {
    background: #F3EDE7;
    position: absolute;
    width: 1440px;
    height: 464px;
    left: 0px;
    top: 1252px;
    z-index: -2;
    
}

.footer-div{
    position: absolute;
    height: 32px;
    width: 1109px;
    left: 167px;
    bottom: 72px;
    border-radius: 0px;

}

h6{
    text-align: center;
    display: inline;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 0px;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.0833333358168602px;
    text-align: center;
    color: #49566D;
    height: 32px;
    width: 125px;
}

.media{
    height: 20px;
    width: 116px;
    text-align: right;
    height: 20px;
    width: 116px;
    display: flex;
    position: absolute;
    right: 0;
}

.fb{
    margin-right: 28px;
}

.twt {
    margin-right: 28px;
}

.twt:hover{
    opacity: 50%;
}

.ig:hover{
    opacity: 50%;
}

.fb:hover{
    opacity: 50%;
}

@media only screen  
and (min-width: 600px) 
and (max-width: 768px) {
    .phone {
       display: none; 
    }

    .tablet-phone{
        display: block;
    }

    
}

@media only screen  
  and (max-width: 600px) {
    .phone {
       display: none; 
    }

    .mobile-phone{
        display: flex;
        position: absolute;
        height: 240px;
        width: 343px;
        left: 0px;
        top: 379px;
    }

    .jeremy{
        display: none;
    }

    .phone-jeremy{
        display: block;
       
    


    }

    .header{
        width: 354px;
        height: 48px;
    }

    body{
        padding: 50px 16px;
    }

    .top-most-button{
        height: 48px;
        width: 182px;
        font-family: Epilogue;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.14000000059604645px;
    }

    .first-section{
        width: 343.5px;
    }

    .arch{
        position: absolute;
        height: 102px;
        width: 291.47222900390625px;
        left: 87px;
        top: -39px;
        
        transform: scale(0.5);

    }
    .description{
        position: absolute;
        height: 325.3243713378906px;
        width: 343.5px;
        left: 0px;
        top: 178px;
        border-radius: 0px;

    }
    .main-description{
        font-family: Epilogue;
        font-size: 38px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -0.5277777910232544px;
        text-align: left;
        margin-bottom: 0;

    }

    .second-description{
        position: absolute;
        height: 84px;
        width: 343px;
        left: 0px;
        top: 114px;
       

        font-family: Epilogue;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.08888889104127884px;
        text-align: left;

    }

    .second-button{
        position: absolute;
    top: 179zpx;
    
    }

    .metrics{
        position: absolute;
        height: 313px;
        width: 344px;
        left: 0;
        top: 847px;
        
    }

    .second-section{
        height: 929px;
        width: 573px;
        left: 0px;
        top: 1174px;
        border-radius: 0px;


    }
}